*.pyc
.vscode
output
data/
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.pth
*.zip
submodules/
*.ply
*.mp4
output_text2hugs/20260311_190610_a_person_jumps/final/anim_ply/00009_splat.ply
